@media screen and (max-width:768px) {
	#rf-navigation .container {
	width: 100%;
	}
	#rf-navigation .zeitgeist-ribbon {
		display: none;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		box-shadow: none;
	}
	#rf-navigation button.navbar-toggle {
		margin-top: 40px;
	}
	#rf-navigation .navbar-nav li a:hover {
		color: #a1b427 !important;
	}
}